<!doctype html>
<html>
  <body
    style="
      font-family: Inter, sans-serif;
      padding: 20px;
      background-color: #f5f5f5;
    "
  >
    <table role="presentation" style="width: 100%">
      <tr>
        <td align="center">
          <table
            role="presentation"
            style="
              width: 620px;
              padding: 30px;
              border-radius: 24px;
              background: white;
            "
          >
            <tr>
              <td align="center">
                <img
                  src="https://i.ibb.co/3yPHdZ04/parking-logo.jpg"
                  alt="Parking logo"
                  style="width: 70px; border-radius: 16px"
                />

                <div style="height: 20px; width: 100%"></div>
              </td>
            </tr>

            <tr>
              <td align="center">
                <span style="font-size: 24px; font-weight: 600">
                  Tu reserva ha sido cancelada.
                </span>
              </td>
            </tr>

            <tr>
              <td align="center">
                <span style="font-size: 16px"
                  >Referencia # {{reservation_id}}</span
                >

                <div style="height: 30px; width: 100%">&nbsp;</div>
              </td>
            </tr>

            <tr>
              <td>
                <span style="font-size: 16px">Hola, {{user_name}}</span>

                <div style="height: 20px; width: 100%"></div>

                <span style="font-size: 16px">
                  Te informamos que tu reserva programada para el
                  <strong>{{start_date}}</strong> ha sido cancelada por el equipo
                  del parking. Si tienes alguna consulta, no dudes en
                  contactarnos y con gusto te ayudamos.
                </span>

                <div style="height: 16px; width: 100%"></div>

                <span style="font-size: 16px">
                  Si deseas realizar una nueva reserva, estaremos encantados de
                  recibirte en una próxima ocasión.
                </span>
              </td>
            </tr>

            <tr>
              <td style="font-size: 18px; font-weight: 600">
                <div
                  style="height: 70px; border-bottom: 1px solid #e4e2e5"
                ></div>

                <div style="height: 70px"></div>

                ¿Necesitas ayuda?
              </td>
            </tr>

            <tr>
              <td style="font-size: 14px; color: #75777e">
                Comunicate con nosotros, nuestro equipo de soporte esta listo
                para ayudarte

                <div style="height: 10px"></div>
              </td>
            </tr>

            <tr>
              <td>
                <table>
                  <tr>
                    <td style="padding-top: 5px">
                      <img
                        src="https://i.ibb.co/SwF0FNhr/mail-24dp-75777-E-FILL0-wght400-GRAD0-opsz24.png"
                        alt="Icono de correo"
                        style="width: 15.5px"
                      />
                    </td>

                    <td
                      style="
                        padding-left: 10px;
                        color: #75777e;
                        font-size: 14px;
                      "
                    >
                      parkinghackathon@gmail.com
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td>
                <table>
                  <tr>
                    <td style="padding-top: 5px">
                      <img
                        src="https://i.ibb.co/S467qtnb/perm-phone-msg-24dp-75777-E-FILL0-wght400-GRAD0-opsz24.png"
                        alt="Icono de correo"
                        style="width: 15.5px"
                      />
                    </td>

                    <td
                      style="
                        padding-left: 10px;
                        color: #75777e;
                        font-size: 14px;
                      "
                    >
                      +57 3003003333
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td>
                <table>
                  <tr>
                    <td style="padding-top: 5px">
                      <img
                        src="https://i.ibb.co/vxkW23gm/nest-clock-farsight-analog-24dp-75777-E-FILL0-wght400-GRAD0-opsz24.png"
                        alt="Icono de correo"
                        style="width: 15.5px"
                      />
                    </td>

                    <td
                      style="
                        padding-left: 10px;
                        color: #75777e;
                        font-size: 14px;
                      "
                    >
                      Lunes - Viernes, 8:00 AM - 6:00 PM
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td>
          <p
            style="
              text-align: center;
              color: #aaa;
              font-size: 12px;
              margin-top: 40px;
            "
          >
            Este es un correo automático,<br />
            Por favor, no respondas a este mensaje. <br />
            © 2026 Parking Hackathon. Todos los derechos reservados.
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
